:root{
    --primary-color:blueviolet;
    --white-color: #fff;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    outline: 0;
}
body{
    font-family: 'Open sans',sans-serif;
    background: blueviolet;
}
.container{
    max-width: 60vw;
    margin:50px auto;
    padding:20px;
    background: var(--white-color);
    border-radius: 10px;
}
